$theme-colors: (
        "primary": #19203d,
        "danger": #ce0808
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@mixin background-opacity($color, $opacity: 0.3) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity) !important;
}


@-webkit-keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}

html{
  overflow: hidden;
}

html, body, #root{
  @include background-opacity(#000000, 0);
  // color: #fff;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background{
  // background: linear-gradient(230deg, #4d5ba0, #0b1a63);
  background: linear-gradient(230deg, #33353e, #19203d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
}

.webcam-overlay {
  position: absolute;
  top: 370px;
  left: 16px;
  height: 260px;
  width: 350px;
  border: 2px solid #fff;
  border-radius: 16px;
}

.webcam-container{
  position: relative;
  border: 8px solid #33353e;
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.gamertag-overlay {
  position: absolute;
  bottom: -.125rem;
  width: 100%;
  margin: 0 auto;

}

.gamertag-container{
  background: linear-gradient(230deg, #33353e, #19203d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  border: 2px solid #fff;
  border-radius: 1rem 1rem 0 0;

  font-size: 24px;
  font-weight: bold;
  padding: .125rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1{
  text-align: center;
}

.canvasjs-chart-container{
  button{
    display: none !important;
  }
}

.matches{
  font-size: 16px;

  .header{
    // background: #222;
    // color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  .row{
    border-bottom: 1px solid #666;
    padding: 8px;

    &.dinner{
      font-weight: bold;
      // @include background-opacity(#00aa00, 0.1);
    }
  }
}

.table-header{
  text-transform: uppercase;
  background: rgba(255,255,255,.2);

  .stats{
    // color: #222;
    border-top: none;
    border-bottom: 1px solid #fff;
    // @include background-opacity(#ffffff, 0.95);
    font-weight: bolder;
    font-size: 14px;
    line-height: 14px;

    padding: .25rem 0;
  }
}

.table-rows{

  font-size: 20px;

  // background: #fff;
  >div{
    &:nth-child(odd){
      // opacity: .95;
    }
  }

  .stats{
    padding-bottom: 8px;
    padding-top: 8px;
  }

}

.stats{

  > .row {
    // margin-left: 0;
    // margin-right: 0;
  }

  .background{
    z-index: -1;
  }
}

.stats-bar{
  border-radius: 0 0 16px 16px;
  border: 2px solid #fff;
  padding: 2px;
}

.p-relative{
  position: relative !important;
}

.stats{
  font-size: 14px;
  // color: #fff;
  // @include background-opacity(#000000, 0.9);
  border-top: 1px solid #fff;
  // padding: 4px;

  @include media-breakpoint-up(md){
    font-size: 16px;
  }

  .player-name{
    @include media-breakpoint-up(lg){
      font-size: 18px;
    }
  }

  .game-count{
    // font-size: 12px;
    font-style: italic;
    opacity: .8;

    @include media-breakpoint-up(lg){
      // font-size: 14px;
      // margin-left: 8px;
    }
  }

  .row {
    margin-left: .25rem;
    margin-right: .25rem;
    > div {
      padding: 0 .5rem;
      text-align: left
    }
  }

}

.table-row{
  span{
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.rc-swipeout-content {
  background: linear-gradient(230deg, #33353e, #19203d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 60px;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.rc-swipeout-btn {
  &::before{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
  }
}

.btn-link{
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
